<div class="mt-4">
  <div>
    <a href="/me/stored/courses" class="btn btn-link">My Courses</a>
    <h3>Deleted Courses</h3>
  </div>

  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Level</th>
        <th scope="col" colspan="2">Deleted At</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href="#" class="btn btn-sm btn-success btn-restore" data-id="{{this._id}}">Restore</a>
          <a href="#" class="btn btn-sm btn-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Permanently Delete</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          No deleted courses. <a href="/me/stored/courses">Back to My Courses</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Confirm delete course modal -->
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger">Delete Course?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This action cannot be undone. Are you sure you want to permanently delete this course?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Permanently Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script> 
  var id;
  var deleteForm = document.forms['delete-course-form'];
  var restoreForm = document.forms['restore-course-form'];
  const deleteCourseModal = document.getElementById('delete-course-modal');
  const btndeleteCourseModal = document.getElementById('btn-delete-course');
  var restoreBtn = $('.btn-restore');

  deleteCourseModal.addEventListener('show.bs.modal', e => { 
    const button = e.relatedTarget;
    id = button.getAttribute('data-id');

    btndeleteCourseModal.onclick = function () {
      deleteForm.action = '/courses/' + id + '/force?_method=DELETE';
      deleteForm.submit();
    }
  });

  restoreBtn.click(function (e) {
    e.preventDefault();
    var courseId = $(this).data('id');
    restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
    restoreForm.submit();
  });
</script>
